html, body {
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: slateblue;
    touch-action: manipulation;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

button {
    font-size: 150%;
    font-family: Arial, Helvetica;
    color: rgb(0, 0, 0);
    background-color: rgb(200, 200, 200);
    touch-action: manipulation;
    border-color: rgb(230, 230, 230);
    border-radius: 6px;
    padding: 5px 17px;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
    background-color: rgb(221, 221, 221);
}

.invalid-btn:hover {
    background-color: rgb(75, 56, 197);
}

.invalid-btn {
    color: rgb(199, 199, 199);
    padding: 5px 17px;
    text-align: center;
    border: none;
    background-color: rgb(75, 56, 197);
}

.invis-btn {
    background-color: slateblue;
    color: slateblue;
    border-style: solid;
    border-color: slateblue;
}

.invis-btn:hover {
    box-shadow: none;
    background-color: slateblue;
}

p, h3 {
    margin: 0;
}

clock {
    font-size: 128px;
}

.smallline {
    margin: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
}

input[type='checkbox'] {
    width: 30px;
    height: 30px;
}

input[type='range'] {
    width: 200px;
    height: 20px;
}
